
@font-face {
  font-family: 'MuseoSans-300';
  font-style: normal;
  font-weight: 300;
  src:url('MuseoSans-300.otf') format('woff');
}

@font-face {
    font-family: 'MuseoSans_500';
    font-style: normal;
    font-weight: 500;
    src: url('MuseoSans_500.otf') format('woff');
}


@font-face {
    font-family: 'MuseoSans_700';
    font-style: bold;
    font-weight: 700;
    src: url('MuseoSans_700.otf') format('woff');
}

